@font-face {
  font-family: Regular;
  src: url('../font/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: SemiBold;
  src: url('../font/Poppins-SemiBold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: Bold;
  src: url('../font/pcsenior.ttf');
  font-weight: bold;
}

body {
  margin: 0;
}

.login-area {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  width: 600px;
  max-width: 100%;
  height: auto;
  transform: translate(-50%, -50%);
}

.login-wrapper {
  position: relative;
  display: block;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  background-color: rgba(241, 251, 255, 0.8);
  border: 2px solid rgba(28, 34, 61, 0.747);
  border-radius: 24px;
}

.login-contents {
  position: relative;
  display: block;
  top: 0%;
  left: 0%;
  width: 90%;
  height: auto;
  margin: 5%;
}

.login-contents__head {
  position: relative;
  display: block;
  top: 0%;
  left: 0%;
  width: 100%;
  height: auto;
  text-align: center;
  font-family: Bold;
  margin: 5px 0px;
}

h2 {
  font-size: 18px;
}

.login-contents__form {
  position: relative;
  display: block;
}

.login-contents__field {
  position: relative;
  display: block;

  width: 100%;
  height: 10%;
  padding: 10px 0px;
}

.login-contents__label {
  position: relative;
  display: block;

  font-family: Regular;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 10px;
}

.login-contents__field-msg {
  position: relative;
  display: inline;
  padding-left: 10px;

  text-align: right;
  font-family: SemiBold;
  font-size: 12px;
  color: red;
  line-height: 1.5;
}

.login-contents__input {
  position: relative;
  display: block;

  font-family: Medium;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  box-sizing: border-box;
  width: calc(100% - 20px);
  height: 48px;
  background: rgba(255, 255, 255, 1);
  border-radius: 48px;
  margin-left: 10px;
  padding: 0 2%;
}

.login-contents__input:focus {
  width: 100%;
  margin-left: 0;
  outline: none;
}

.login-contents__input::placeholder {
  color: rgb(126, 126, 126);
}

.login-contents__message {
  position: relative;
  display: block;

  font-family: SemiBold;
  color: red;
  text-align: center;
  height: auto;
  padding-top: 10px;
}

.login-contents__form-button {
  position: relative;
  display: block;

  width: 100%;
  height: auto;
  margin: 20px 0px;
}

.login-contents__button {
  position: relative;
  display: block;

  font-family: Medium;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  left: 50%;
  transform: translate(-50%, 0%);
  border-color: transparent;

  box-sizing: border-box;
  width: 80px;
  max-width: 100%;
  height: 42px;
  background: rgb(31, 31, 31);
  border-radius: 42px;
  padding: 0 2%;
}

.login-contents__button:hover {
  font-size: 20px;
  width: 100px;
  max-width: 100%;
}
.login-contents__button:focus {
  outline: none;
}

.login-contents__hidden {
  display: none;
}

.login-contents__hint {
  position: relative;
  display: block;

  color:rgb(36, 36, 36);
  font-family: SemiBold;
  text-align: center;
  height: auto;
  padding-top: 10px;
}

#urlArea {
  display: none;
}

#loginBgWrapper {
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  background-color: blueviolet;
}

#challengeArea {
  position: relative;
  width: 100%;
}

#loginMessage {
  position: fixed;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 100%;
  background-color: rgba(28, 34, 61, 0.9);
  color: azure;
  text-align: center;
  padding: 30px;
}

#loginMessageOk {
  font-family: Medium;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;

  box-sizing: border-box;
  width: 30%;
  height: 48px;
  background: rgba(255, 255, 255, 1);
  border-radius: 48px;
  margin-left: 10px;
}

#messageHead, #messageBody {
  background-color: rgba(233, 205, 228, 0.8);
  margin: 10px auto;
  padding: 20px;
}

#challengeMessage {
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 10px 0;
  opacity: 0;
  margin: 0;
  font-size: 24px;
  font-family: SemiBold;
}

#messageHead {
  text-align: center;
  width: 100%;
  max-width: 720px;
}

#messageHead h1 {
  font-family: Bold;
}

#messageHead p {
  font-style: italic;
  font-size: 30px;
}

#messageMain {
  display: flex;
}

#messageBody {
  text-align: left;
  width: 100%;
  max-width: 1000px;
}

#messageBody li {
  margin: 10px 0;
}

#messageBody li span p {
  font-size: 14px;
}

#messageBody li a {
  text-decoration: none;
}

#loginBgWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#logo {
  position: absolute;
  z-index: 2;
}

#loginBg {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1500px) {

  #messageMain {
    display: block;
  }

  #messageBody {
    margin: 20px auto;
    width: 90%;
  }

  #challengeVideo {
    text-align: center;
    margin: 0 auto;
  }
}
