@font-face {
  font-family: Regular;
  src: url('../../font/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Poppins;
  src: url('../../font/Poppins-SemiBold.ttf');
  font-weight: bolder;
}

@font-face {
  font-family: PCSenior;
  src: url('../../font/pcsenior.ttf');
}

body {
  margin: 0;
}

.content-wrapper {
  position: fixed;
  z-index: 2;
  text-align: center;
  width: 1600px;
  max-width: calc(100vw - 100px);
  height: 900px;
  max-height: calc(100vh - 100px);
  background-color: rgba(116, 35, 223, 0.8);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-title {
  width: 90%;
  height: 20%;
  margin: auto auto;
  vertical-align: center;
}

.content-title h1 {
  margin: 20px;
  margin-top: 50px;
  font-family: Poppins;
  font-size: 24px;
}

.content-title button {
  position: relative;
  display: block;

  font-family: Medium;
  font-size: 16px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  left: 50%;
  transform: translate(-50%, 0%);
  border-color: transparent;

  box-sizing: border-box;
  width: 240px;
  max-width: 100%;
  height: 42px;
  background: rgb(31, 31, 31);
  border-radius: 42px;
  padding: 0 2%;
}

.content-title button:hover {
  font-size: 20px;
  width: 320px;
  max-width: 100%;
}
.content-title button:focus {
  outline: none;
}

#videoWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: calc(60vh * 16 / 9);
}
#videoWrapper:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

#video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#urlArea {
  display: none;
}

#bgWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  max-width: 100vw;
  max-height: 100vh;
  margin: 0 auto;
  background-color: blueviolet;
}

#logo {
  position: absolute;
  z-index: 2;
}

#bg {
  width: 100%;
  height: 100vh;
  max-height: 100%;
  object-fit: cover;
}